@charset "UTF-8";

div #container {
    width: 100%;
    height: 900px;
   /*  border: 1px solid red; */
}
.contents1 {
    width: 35%;
    height: 400px;
    
    float:left;
}
.contents2 {
    width: 63%;
    height: 400px;
    
    float:right;
}
.contents3 {
	padding-top: 20px;
    width: 100%;
    height: 480px;
    
    float:right;
}
.content_1_header {
    width: 100%;
    height: 40px;
    text-align:center;
    background-color:#cccccc;
    border: 1px solid gray;
}
.content_1_header button{
   margin-top: 8px;
   margin-right: 3px;
   border: 0px;
}
.content_1_content {
	width: 100%;
	height: 360px;
	border: 1px solid gray;
	
	table-layout:fixed;
}
.content_1_content table td {
	float:left;
	margin:3px;
}

.content_2_header {
    width: 100%;
    height: 40px;
      background-color:#cccccc;
    border: 1px solid gray;
}
.content_2_content {
    width: 100%;
    height: 360px;
    border: 1px solid gray;
}
.content_2_content img{
   
    height: 300px;
} 
.content_3_header {
    width: 100%;
    height: 50px;
    background-color:#cccccc;
    border: 1px solid gray;
}
.content_3_content {
    width: 100%;
    height: height: 95.5%;;
      
    /* border: 1px solid gray; */
}