<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CinemaDAO">
		
<!-- 무비포스트 -->
<select id="getBoardList" resultType="cinema">
		select * from CINEMA
</select>
	
<select id="getTheaterList" resultType="cinema">
 		select * from CINEMA
 		where c_LOC = '${c_LOC}'
	</select>
<select id="getCinemaInfoList" resultType="cinema">
 		select * from CINEMA
 		where c_NAME = '${c_NAME}'
	</select>

<select id="getCinemaLoc" resultType="cinema">
		select c_loc from cinema group by c_loc
</select>

</mapper>

