<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 연결 -->
	<properties resource="db/db.properties" />
	 
	<typeAliases>
		<typeAlias type="cinema.cloud.com.dto.LafVO" alias="Laf"/>
		<typeAlias type="cinema.cloud.com.dto.moviepostVO" alias="moviepost"/>
		<typeAlias type="cinema.cloud.com.dto.movieVO" alias="movie"/>
		<typeAlias type="cinema.cloud.com.dto.productVO" alias="product"/>
		<typeAlias type="cinema.cloud.com.dto.CinemaVO" alias="cinema" />
		<typeAlias type="cinema.cloud.com.dto.noticeVO" alias="notice" />
		<typeAlias type="cinema.cloud.com.dto.UsersVO" alias="users" />
		<typeAlias type="cinema.cloud.com.dto.eventVO" alias="event" />
		<typeAlias type="cinema.cloud.com.dto.QaVO" alias="Qa" />
		<typeAlias type="cinema.cloud.com.dto.TicketingVO" alias="ticketing" />
		<typeAlias alias="seat" type="cinema.cloud.com.dto.SeatVO"/>
		<typeAlias type="cinema.cloud.com.dto.ScreeninfoVO" alias="screeninfo" />
		<typeAlias type="cinema.cloud.com.dto.CloudVO" alias="cloud" />
		<typeAlias type="cinema.cloud.com.dto.TicketChooseVO" alias="ticketChoose" />
		<typeAlias type="cinema.cloud.com.dto.CloudBoardVO" alias="cloudbd"/>
		<typeAlias type="cinema.cloud.com.dto.MprVO" alias="mpr"/>
	</typeAliases>
	 
	<!-- Data Source 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- Sql Mapper 설정 -->
	<mappers>
		<mapper resource="mappings/Moviepost_Mapper.xml"/>
		<mapper resource="mappings/LAF_Mapper.xml"/>
		<mapper resource="mappings/Movie_Mapper.xml"/>
		<mapper resource="mappings/Cinema_Mapper.xml"/>
		<mapper resource="mappings/Product_Mapper.xml"/>
		<mapper resource="mappings/Notice_Mapper.xml"/>
		<mapper resource="mappings/Users_Mapper.xml"/>
		<mapper resource="mappings/Event_Mapper.xml"/>
		<mapper resource="mappings/QA_Mapper.xml"/>
		<mapper resource="mappings/Ticketing_Mapper.xml"/>
		<mapper resource="mappings/Cloud_Mapper.xml"/>
	</mappers>
	
</configuration>
