@charset "UTF-8";

/* 	*{
		margin:20px;
		padding:0;
			    
	} */
	body{
		heigth:100%; 
		background-color:#ffeecc; /* 색상 더 생각해보기  */
	}
	
	header{
	text-align:center;
	}
	
	footer{
		text-align:center;
		padding:0;
		margin:20px;
		font-size:15px;
		font-style: italic;
	}
	
	aside {
/*    float: right; */
/*    clear:left; */
/*    margin: 0; */
   
   }
   
   nav {
   font-size:11px;
   text-align:right;
   clear: both;
   }
   
   section {
   text-align:center;
   }
	
/* 모달창 */	
	.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity:1;
    pointer-events: auto;
}
.modal > div {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;

	border: 16px solid orange;
	
	overflow: auto;	
}


/*  퀵메뉴 */

    .bms-quick-banner{
     position: fixed;
     right: calc((100% - 1425px)/ 2 - 150px);
     width: 190px;
     height: 60px;
     z-index: 9999;
     top: 151px;
     background: lightblue;
   }
   .bms-quick-banner > ul > li{
   	list-style: none;
   }
   
   /* 메뉴 show&hide */
.zeta-menu-bar {
  font-weight:bold;
  display: inline-block;
  width: 100%;
 	height: 100%;
}

.zeta-menu { margin: 5; padding: 5; }
.zeta-menu li {
  float: left;
  list-style:none;
  position: relative;
}

.zeta-menu li:hover>a { color: lightblue; }
.zeta-menu a {
  color: black;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  }
.zeta-menu ul {
  border: 2px solid silver;
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
   top: 100%; 
  width: 150px;
}
.zeta-menu ul  { background: white; }
.zeta-menu ul li a { color: black; } 
.zeta-menu ul li:hover a { color: lightblue; }
.zeta-menu ul a { color: black; }
.zeta-menu ul ul { left: 100%; top: 0; }
.zeta-menu ul ul li {float:left; margin-right:10px;}
   
   
/* 비주얼 배너 이미지 사이즈 조정하자 개졸립네아*/

/* 왜안ㄴ되는거냐진
.swiper-wrapper {
	width: 300px;
	height: 300px;
	
}
자로099*/
